@page "/restaurant/{Id}"
@inject ClientCache cache
@inject NavigationManager navManager
@inject IJSRuntime JSRuntime;

@if (place == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenFieldset>
        <HeaderTemplate>
            <span>
                <b style="font-size:x-large">@place.CategoryList.FirstOrDefault()?.Name</b>
            </span>
        </HeaderTemplate>
        <ChildContent>
            <div class="contain">
                <h1>@place.Name</h1>
                <h3>@place.Address</h3>
                <div class="d-flex restaurant-flex">
                    <RadzenPanel class="flex-column stat-display">
                        <RadzenFieldset Text="Cuisine">
                            <RadzenDataList WrapItems="true" AllowPaging="true" Data="@place.CuisineList" TItem="Cuisine">
                                <Template Context="cuisine">
                                    <RadzenPanel>
                                        <RadzenLabel Text="@cuisine.Name"></RadzenLabel>
                                    </RadzenPanel>
                                </Template>
                            </RadzenDataList>
                        </RadzenFieldset>
                        <div class="stat-buttons">
                            <RadzenButton Icon="phone" Text="@place.Phone" Click="@PhoneClick"></RadzenButton>
                            <RadzenButton Icon="web" Text="Website" Click="@WebClick"></RadzenButton>
                            <RadzenButton Icon="menu_book" Text="Menu" Click="@MenuClick"></RadzenButton>
                        </div>
                        <RadzenFieldset Text="Specials">
                            <RadzenTextArea Value="@place.Specials" class="special" Disabled />
                        </RadzenFieldset>
                    </RadzenPanel>
                    @*<div class="map-display">
                <RadzenImage Path="images/mappin.png"/>
            </div>*@
                </div>
                <RadzenFieldset Text="Ordering & Delivery Options">
                    <RadzenDataList WrapItems="true" AllowPaging="true" Data="@place.OrderingServiceList" TItem="OrderingService">
                        <Template Context="service">
                            <RadzenPanel>
<<<<<<< HEAD
                                <div class="service-logo">
                                    <RadzenImage Path="@($"images/{service.ImageName}.png")"/>
                                </div>
                                <div class="service-name">
                                    <RadzenLabel Text="@service.ImageName"> </RadzenLabel>
                                </div>
=======
                                <RadzenImage Path="@($"images/{service.ImageName}.png")" />
                                <RadzenLabel Text="@service.Name"/>
>>>>>>> f90e6dda886c8af8b273e201e82968b4c486806a
                            </RadzenPanel>
                        </Template>
                    </RadzenDataList>
                </RadzenFieldset>
            </div>
        </ChildContent>
    </RadzenFieldset>
}

@code {

    [Parameter]
    public string Id { get; set; }

    private Place place;


    protected override async Task OnInitializedAsync()
    {
        place = await cache.GetPlace(Id);
    }

    public void WebClick(EventArgs e)
    {
        JSRuntime.InvokeAsync<object>("open", place.URL, "_blank");
    }

    public void PhoneClick(EventArgs e)
    {
        JSRuntime.InvokeAsync<object>("open", $"tel:{place.Phone}", "_blank");
    }

    public void MenuClick(EventArgs e)
    {
        JSRuntime.InvokeAsync<object>("open", place.Menu, "_blank");
    }

}
