@page "/restaurants"
@page "/"

@using AirtableApiClient
@using EugeneFoodScene.Data
@implements IDisposable

@inject ClientCache cache

@if (cache.FoundPlaces == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <div class="d-flex">
        <RadzenFieldset Text="Filter" class="col-3">

            <RadzenSelectBar TValue="int" class="flex-row">
                <Items>
                    <RadzenSelectBarItem Text="Delivery" Value="1" />
                    <RadzenSelectBarItem Text="Pickup" Value="2" />
                </Items>
            </RadzenSelectBar>
            <span>
                <RadzenCheckBox TValue="bool" />
                <RadzenLabel Text="Price v" Style="margin-left: 5px;margin-bottom: 20px" />
            </span>
            <RadzenSelectBar TValue="int" class="flex-row">
                <Items>
                    <RadzenSelectBarItem Text="$" Value="1" />
                    <RadzenSelectBarItem Text="$$" Value="2" />
                    <RadzenSelectBarItem Text="$$$" Value="3" />
                    <RadzenSelectBarItem Text="$$$$" Value="4" />
                </Items>
            </RadzenSelectBar>
            <span>
                <RadzenCheckBox TValue="bool" />
                <RadzenLabel Text="Location" Style="margin-left: 5px;margin-bottom: 20px" />
            </span>
            <span>
                <RadzenCheckBox TValue="bool" />
                <RadzenLabel Text="Curbside" Style="margin-left: 5px;margin-bottom: 20px" />
            </span>
        </RadzenFieldset>
        <RadzenFieldset Text="Resturants">
            <RadzenDataList WrapItems="true" AllowPaging="true" Data="@cache.FoundPlaces" TItem="Place">
                <Template Context="place">
                    <RadzenCard>

                        <b><RadzenLink Text="@place.Name" Path="@($"restaurant/{place.Id}")"></RadzenLink></b>
                        <RadzenLabel Text="Phone:"></RadzenLabel>
                        <b>@place.Phone</b>
                        <RadzenLabel Text="Cuisines:"></RadzenLabel>
                        <b>@place.CuisineDisplay</b>
                        <RadzenLabel Text="Delivery Services:"></RadzenLabel>
                        <b>@place.DeliveryOptionsDisplay</b>
                        <RadzenLabel Text="Address:"></RadzenLabel>
                        <b>@place.Address</b>

                    </RadzenCard>
                </Template>
            </RadzenDataList>
        </RadzenFieldset>
    </div>

}

@code {

    protected override async Task OnInitializedAsync()
    {
        await cache.GetFoundPlaces();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            cache.CacheUpdated += OnCacheUpdated;
        }

    }

    public void OnCacheUpdated(object sender, EventArgs e)
    {
        this.StateHasChanged();
    }

    public void Dispose() {
        cache.CacheUpdated -= OnCacheUpdated;
    }


}
